body {
  text-align: center;
}

#chimp-showing {
  display: none;
}

#hippo-showing {
  display: none;
}

#possom-showing {
  display: none;
}

.clickable , .clickable2 , .clickable3 {
  cursor: pointer;
  color:teal;
}

.clickable:hover, .clickable2:hover, .clickable3:hover  {
  text-decoration: underline;
}